body {
    background-color: #F8FBFF;
    color: #2C3E50;
    font-family: "Segoe UI", Tahoma, sans-serif;
    overflow-x: hidden;
}

.navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E3EDF7;
    color: #2C3E50;
}

 i{
    font-size: 2rem;
    display: inline;
}

.card {
    position: relative;
    padding: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-width: 2px;
}

.sidebar {
    background-color: #EEF5FF;
    border: 1px solid #D6E4F0;
    padding: 15px;
    max-height: 90vh;
    display: flex;
    justify-content:space-around;
    flex-direction: column;

}

.main {
    padding: 1rem;
    background-color:white;
}

.transactions{
    background-color: #429cc3;
    padding: 2rem;
    color: #FFFFFF;
    height: 80vh;
    margin: 1rem;
    border-radius: 2rem;
}

.transactions div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}



.table {
    --bs-table-bg:#429cc3 ;
    --bs-table-color: white;
    color:black;
    
}

.table th:first-child,
.table td:first-child {
  display: none;
}

.btn-sm i {
    font-size: 20px;
}

.table td:last-child {
    display:flex;
    justify-content: space-between;
    
}

.notes, .summary{
    padding:1rem;
    height: max-content;
    min-width:30vh;
    margin-right: 2rem;

}

.notes{
    height: 50vh;
}

